.bird-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  width: 80%;

  .back-and-protected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    margin-top: 2rem;
  }

  img {
    width: 200px;
    margin-top: 2rem;
  }

  .weight-and-size {
    padding-top: 2rem;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
  }

  .container-text {
    background-color: $app-supporting-color;
    width: 100vw;
    padding: 2rem;
    margin-top: 1rem;

    p {
      color: $app-primary-font-color;
    }
  }

  .food-and-song {
    background-color: #e9fffc;
    position: relative;
    width: 85vw;
    bottom: 1rem;
    padding: 1rem;
  }
}

@media screen and (min-width: $app-tablet) {
  .bird-description-container {
    .weight-and-size {
      width: 70%;
    }
    .container-text {
      width: 80vw;
    }

    .food-and-song {
      left: 6rem;
      width: 66vw;
    }
  }
}

@media screen and (min-width: $app-desktop) {
  .bird-description-container {
    .weight-and-size {
      width: 55%;
    }
    .container-text {
      width: 65vw;
    }

    .food-and-song {
      left: 6rem;
      width: 50vw;
    }
  }
}
