.card-container {
  width: 15rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  box-shadow: $app-box-shadox 0px 4px 20px;
  background-color: #e9fffc;
  border-radius: 6px;

  img {
    margin: 1rem auto;
    width: 200px;
    border-radius: 6px;
  }
}

.card-container:hover {
  transform: translateY(-5%);
}

.card-container,
.card-container:hover {
  transition: all 0.5s ease-in-out;
}
